body {
    background-color: #fff;

}

h1 {
    color: #000;
    border: 2px solid #880000;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 80px;
}

h2 {
margin-left: 95px;
}

p {
line-height: 1.6;
margin-left: 80px;
max-width: 600px;
border: 5px inset #FFFFFF;

}
